@using Dillans.Models
@model List<Dillans.Models.PizzaGroup>

@foreach (var group in Model.Where(x => x.Pizzas.Count > 0))
{
    <ul class="list-group">
        <li class="list-group-item list-group-item-heading">
            <div class="row">
                <div class="col-xs-8">
                    <strong>@group.Name</strong>
                </div>
                <div class="col-xs-4">
                    <span style="color: red;">@group.Cost:-</span>
                </div>
            </div>
            <div class="row" style="font-size: 10px;">
                <div class="col-xs-4">
                    <em>Barn @group.CostChildren:-</em>
                </div>
                <div class="col-xs-4">
                    <em>Sambo @group.CostPartner:-</em>
                </div>
                <div class="col-xs-4">
                    <em>Familj @group.CostFamily:-</em>
                </div>
            </div>

        </li>

        @foreach (var pizza in group.Pizzas)
        {
            <li class="list-group-item">
                <div>
                    <strong>@pizza.Name</strong>
                </div>

                @foreach (var ingredient in pizza.Ingredients)
                {
                    <span>@ingredient.Description(),</span>
                }
            </li>
        }
    </ul>
}
