@using Dillans.Models
@model List<Dillans.Models.PizzaGroup>

@Scripts.Render("~/bundles/jquery")

@foreach (var group in Model.Where(x => x.Pizzas.Count > 0))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row" style="font-size: 14px;">
                <div class="col-xs-10">
                    <strong>@group.Name</strong>
                </div>
                <div class="col-xs-2">
                    <span style="color: red;">@group.Cost:-</span>
                </div>
            </div>
            <div class="row" style="font-size: 10px;">
                <div class="col-xs-10">
                    <em style="padding-right: 10px;">Barn @group.CostChildren:-</em>
                    <em>Sambo @group.CostPartner:-</em>
                    <em style="padding-left: 10px;">Familj @group.CostFamily:-</em>
                </div>
                <div class="col-xs-2 text-center" style="font-size: 20px; color: red;">
                    <button type="submit" class="btn-link toggle" data-name="@group.Name.Replace(" ", "_")" style="color: #3e3f3a;">
                        <span><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </button>
                </div>
            </div>
        </div>

        <ul class="list-group @group.Name.Replace(" ", "_")" style="padding: 5px;">
            @foreach (var pizza in group.Pizzas)
            {
                <li class="list-group-item" style="padding: 6px;">
                    <div class="row">
                        <div class="col-xs-2 col-sm-1">
                            <div>
                                @if (pizza.Number != Pizza.InvalidNumber)
                                {
                                    <strong>@pizza.Number.</strong>
                                }
                            </div>

                            <img src="../../Content/Images/pizza_icon.png" alt="" style="width: 16px; height: 16px;" />
                        </div>
                        <div class="col-xs-10">
                            <div>
                                <strong>@pizza.Name</strong>
                            </div>

                            @for (var i = 0; i < pizza.Ingredients.Count; i++)
                            {
                                <span style="font-size: 12px;">
                                    @pizza.GetIngredientName(i)
                                </span>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>

    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.toggle').click(function () {
            $('.' + $(this).data('name')).toggle();
        });
    });
</script>