@using Dillans.Models
@model List<Dillans.Models.PizzaGroup>

@foreach (var group in Model.Where(x => x.Pizzas.Count > 0))
{
    <ul class="list-group">
        <li class="list-group-item active" style="padding: 10px;">
            <div class="row">
                <div class="col-xs-8">
                    <strong>@group.Name</strong>
                </div>
                <div class="col-xs-4">
                    <span style="color: red;">@group.Cost:-</span>
                </div>
            </div>
            <div class="row" style="font-size: 10px;">
                <div class="col-xs-12">
                    <em style="padding-right: 5px;">Barn @group.CostChildren:-</em>
                    <em>Sambo @group.CostPartner:-</em>
                    <em style="padding-left: 5px;">Familj @group.CostFamily:-</em>
                </div>
            </div>

        </li>

        @foreach (var pizza in group.Pizzas)
        {
            <li class="list-group-item" style="padding: 6px;">
                <div class="row">
                    <div class="col-xs-2">
                        <div>
                            @if (pizza.Number != Pizza.InvalidNumber)
                            {
                                <strong>@pizza.Number.</strong>
                            }
                        </div>

                        <img src="../../Content/Images/pizza_icon.png" alt="" style="width: 16px; height: 16px;"/>
                    </div>
                    <div class="col-xs-10">
                        <div>
                            <strong>@pizza.Name</strong>
                        </div>

                        @for (var i = 0; i < pizza.Ingredients.Count; i++)
                        {
                            <span style="font-size: 12px;">
                                @pizza.GetIngredientName(i)
                            </span>
                        }
                    </div>
                </div>




            </li>
        }
    </ul>
}
